.form-header{
    display: flex;
    font-family: Montserrat,serif;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #292b53, rgb(10, 193, 253));
    color: #f7f7f7;
    border-radius: 5px;
    padding: 40px;
    height: 0.25px;
    box-shadow:0px 0px 5px 0px #102325;
}

.form-span{
    padding-top: 10px;
}

.form-input-container{
    display: flex;
    width:650px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: #25274d;
    border-radius: 4px;
    opacity: 0.9;
    box-shadow:0px 0px 10px 0px #102325;
}

.select{
    font-size:20px;
    float:left;
    color: #feffff;
    background-color: #25274d;
    width:305px;
    height: 35px;
    margin-bottom:10px;
    border:1px solid #feffff;
    border-radius:4px;
  }

.placeHolder{
    color: #feffff;
    font-family: Montserrat,serif;
}

input{
  font-size:20px;
  float:left;
  color: #feffff;
  background-color: #25274d;
  width:300px;
  height: 30px;
  margin-bottom:10px;
  border:1px solid #feffff;
  border-radius:4px;
}

::placeholder {
    color: #feffff;
    font-family: Montserrat,serif; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #feffff;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #feffff;
  }

.link{
    color: #3cf;
}

.link:hover{
    color: #11b63a;
    font-size:120%;
}

.form-btn{
    padding-left: 90px;
}

.form-btn{
    padding-left: 90px;
}


.pwd-validation{
    color: red;
}
