.instpage{
    display: flex;
    flex-direction: column;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding-left: 5%;
}
.searchtext{
    margin:10px;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 43px;
    resize: none;
    outline: none;
    border: none;
}

.enrolledcoursecontent{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
    padding: 2rem;
    width: 500px;
    height:200px;
    background-color: #b0b2d3;
    border-radius: 10px;
    font-family: serif;
    color: rgb(19, 18, 18);
    opacity: 0.85; */
    background: #b0b2d3;
    /* width:270px; */
    margin:10px;
    height:250px;
    padding:10px;
    border-radius: 10px;
    color: rgb(19, 18, 18);
}

.enrollbutton {
  background-color: rgb(81, 77, 165);
  color:white;
  font-size: 15px;
  padding: 5px 10px;
  border-radius:5px;
  cursor: pointer;

}

.button-alignment{
  display: flex;
  align-items: center;
  justify-content: right;
}
p{
    font-size:large;
}