body{
  background-image: url("../resources/background.gif");
  background-size: cover;    
  height: 100vh;
  padding:0;
  margin:0;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.footer-pos{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}